.filters .locations:hover .popover,
.filters .amenities:hover .popover {
    display: block;
}

.filters .popover {
    display: none;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin-top: 19px;
}

.filters .popover h2 {
    font-size: 16px;
    margin-bottom: 5px;
}

.filters .popover ul {
    list-style: none;
}

.filters .popover li {

    list-style: none;
}